:root {
  /* Primary Colors */
  --moderate-violet: hsl(263, 55%, 52%);
  --moderate-violet-border: hsl(263, 94%, 68%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* Neutral Colors */
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: "Barlow Semi Condensed", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8125rem;
  background-color: var(--light-gray);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
  align-items: center;
  padding: 3rem 0rem;
  gap: 2rem;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.reviewer-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 0rem 1rem;
}

.reviewer-headshot {
  grid-row: 1 / span 2;
  height: 2.5rem;
  border-radius: 50%;
}

.headshot-border {
  border: 2px solid var(--moderate-violet-border);
}

.reviewer-name {
  align-self: center;
}

.verified-grad {
  grid-column: 2;
  grid-row: 2;
  opacity: 50%;
}

.testimonial-summary {
  font-size: 1rem;
}

.testimonial-story {
  opacity: 70%;
  font-size: 0.8rem;
}

.card1 {
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0rem right 1.5rem;
  background-color: var(--moderate-violet);
  color: var(--white);
}

.card2 {
  background-color: var(--very-dark-grayish-blue);
  color: var(--white);
}

.card3,
.card5 {
  background-color: var(--white);
  color: var(--very-dark-grayish-blue);
}

.card4 {
  background-color: var(--very-dark-blackish-blue);
  color: var(--white);
}

@media (min-width: 1048px) {
  .main-container {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .testimonial-card {
    justify-content: center;
  }

  .card1 {
    grid-column: 1 / span 2;
  }

  .card2 {
    grid-column: 3;
    align-self: stretch;
  }

  .card5 {
    grid-column: 4;
    grid-row: 1 / span 2;
    align-self: stretch;
    justify-content: start;
  }

  .card3 {
    align-self: stretch;
  }

  .card4 {
    grid-column: 2 / span 2;
    align-self: stretch;
  }

  .testimonial-story {
    line-height: 1.5;
  }
}
